.divisiblePage {
	display: flex;
	flex-direction: row;
	padding: 1em;
	height: 100%;
	width: 100%;
	justify-content: stretch;
	align-items: stretch;
	gap: 1em;
}

.divisiblePage .left {
	flex-grow: 1;
	flex-basis: 100%;
	
  padding: 1em;
  height: 85%;
	overflow-y: scroll;
	background-color: var(--background-main);
	border: 1px solid var(--accent);
}

.divisiblePage .right {
	flex-grow: 1;
	flex-basis: 0;
	transition: flex-basis 0.2s ease;
  
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  height: 85%;
	padding: 1em;
	background-color: var(--background-main);
	border: 1px solid var(--accent);
}

.divisiblePage .right.open {
  visibility: visible;
  overflow: auto;
  position: relative;
}

.divisiblePage .right.closing {
	flex-basis: 0;
  overflow: hidden;
  position: relative;
  visibility: visible;
}
